html {
    height: 100%;
}

body {
    margin:0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: radial-gradient(circle, rgba(126,5,255,1) 0%, rgba(6,6,245,1) 46%, rgba(0,212,255,1) 100%);
    bottom:0;
    left:-50%;
    opacity:0.7;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2{
    animation-direction:alternate-reverse;
    animation-duration:4s ;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0%{
        transform:translateX(-25%);
    }
    100%{
        transform:translateX(25%);
    }
}

.playagain {
    border-radius: 10px;
    border: 25px whitesmoke;
    background-color: violet;
    font-weight: 700;
    margin: 30px;
    padding: 5px;
    color:rebeccapurple;
    width:100%;
    margin:0;
    margin-top:20px;
    display:flex;
    justify-content: center;
    text-align: center;
}
.playagain:hover {
    background-color:skyblue;
}
a {
    color: snow;
}

.game-form {
    border:solid;
    background:slateblue;
    opacity:10px;
    padding:20px;
    color:black;
}

#finalsocre {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    font-size: 35px;
    text-align:center;
    position: relative;
    margin:0;
}

#player {
    border-radius: 10px;
    padding:10px;
    margin:5px;
}
.container{

}

.game-form{

}
.btn{

}

.playagain{

}