html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 4s ease-in-out infinite alternate;
    background-image: radial-gradient(circle, rgba(126,5,255,1) 0%, rgba(6,6,245,1) 46%, rgba(0,212,255,1) 100%);
}

.bg-bg2{

}

.bg-bg3{

}
.nav{

}

.TopScores{

}

.quiz{

}

.results{

}
.question{
    
}

.all-options{

}
.option{

}

.answer{

}

