html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 4s ease-in-out infinite alternate;
    background-image: linear-gradient()
}

.bg-bg2{

}

.bg-bg3{

}
.nav{

}

.TopScores{

}

.quiz{

}

.results{

}
.question{
    
}

.all-options{

}
.option{

}

.answer{

}

